<div class="wrapper-skills" id="skills">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="tools">
        <h2><strong>Build</strong><br> from the ground up using the right tools</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render 'back_skills' %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render 'front_skills' %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="tools">
        <h2><strong>Polish</strong><br> products so the message shines through</h2>
      </div>
    </div>
  </div>
</div>
