<div class="wrapper-skills">
  <div class="row">
    <div class="col-xs-6">
      <%= render 'back_tools' %>
    </div>
    <div class="col-xs-6">
      <%= render 'back_skills' %>
    </div>
    <div class="col-xs-6">
      <%= render 'front_skills' %>
    </div>
    <div class="col-xs-6">
      <%= render 'front_tools' %>
    </div>
  </div>
</div>
