<div class="back-skills">
  <div class="skills">
    <div class="skill">
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar ruby">></div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-rails-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar rails">></div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-git-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar git">></div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar sql">></div>
      </div>
    </div>
  </div>
</div>
