<div class="container-banner" style="background-image: url(<%= asset_path 'sky_banner.jpg' %>)">
  <div id="title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <div class="title-banner" id="title">
              <h1>Daniel Kaga</h1>
            </div>
            <div class="title-description">
              <h3 class="header-desc">WEB DESIGNER</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
