<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-sm-offset-6 col-sm-offset-6">
        <div class="footer-links">
          <ul class="list-inline">
            <li><a href="https://github.com/danielkaga">
                <i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/daniel-kaga-44b89262/">
                <i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/danielkaga">
                <i class="fas fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-about">
          <div class="footer-connect">
            <div class="link">
              <a href="https://github.com/danielkaga">Daniel Kaga</a>
              <p>Web Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
