<div class="back-skills">
  <div class="skills">
    <div class="skill">
      <i class="devicon-javascript-plain colored"></i>
      <div class="container-bar">
        <div class="bar javascript">></div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-html5-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar html">></div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-css3-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar css">></div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-sass-original colored"></i>
      <div class="container-bar">
        <div class="bar sass">></div>
      </div>
    </div>
  </div>
</div>
