<div class="navbar navbar-fixed-top" id="navbar">
  <div class="container-navbar">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-right">
      <a href="#profile" class="navbar-item navbar-link">About</a>
      <a href="#work" class="navbar-item navbar-link">Work</a>
      <a href="#contact" class="navbar-item navbar-link">Contact</a>
    </div>
  </div>
</div>
