<div class="container-skills">
  <div class="skills">
    <div class="skill">
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar ruby">65%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-rails-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar rails">50%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-javascript-plain colored"></i>
      <div class="container-bar">
        <div class="bar javascript">50%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-html5-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar html">50%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-css3-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar css">50%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-sass-original colored"></i>
      <div class="container-bar">
        <div class="bar sass">50%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-git-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar git">50%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar sql">50%</div>
      </div>
    </div>
    <div class="skill">
      <i class="devicon-python-plain-wordmark colored"></i>
      <div class="container-bar">
        <div class="bar python">50%</div>
      </div>
    </div>
  </div>
</div>
