<div class="wrapper-work" id="work">
  <div class="title-work">
    <h1>Experience</h1>
  </div>
  <div class="wrapper-experience">
    <div class="row">
      <div class="col-xs-5">
        <div class="work-card-deck">
          <div class="work-card left">
            <div class="work-card-header">
              <h2>TECHNICAL SUPPORT AGENT</h2>
            </div>
            <div class="work-card-body">
              <h3>Vancouver Film School</h3>
              <h4>VANCOUVER, BC (Mar 2017 - Mar 2018)</h4>
              <div class="work-description">
                <ul>
                  <li>Workstation Support for over 1000+ staff and students</li>
                  <li>Troubleshooting for 6 theaters and over 20 studios</li>
                  <li>Customized Image building and deployment for 10 depts</li>
                  <li>Event set up and support</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="work-card left">
            <div class="work-card-header">
              <h2>OFFICE MANAGER</h2>
            </div>
            <div class="work-card-body">
              <h3>Radiant Communications</h3>
              <h4>VANCOUVER, BC (Oct 2014 - Aug 2016)</h4>
              <div class="work-description">
                <ul>
                <li>Managed office supplies/inventory for 80+ staff</li>
                  <li>Helped oversee office upgrades and events</li>
                  <li>Created/maintained staff resources</li>
                  <li>Trained staff in Vancouver and Toronto</li>
                  <li>Script hardware and track orders</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="work-card left">
            <div class="work-card-header">
              <h2>SOUND DESIGNER</h2>
            </div>
            <div class="work-card-body">
              <h3>Inkpad Studios</h3>
              <h4>VANCOUVER, BC (Oct 2016 - Mar 2018)</h4>
              <div class="work-description">
                <ul>
                  <li>Composed music for a variety of mobile games</li>
                  <li>Create sound effects and assign them to actions</li>
                  <li>Work with developers to plan app development, using perforce and Unity</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="timeline">
          <div class="line">
            <div class="line-dot first">
              <div class="line-left"></div>
            </div>
            <div class="line-dot second">
              <div class="line-right"></div>
            </div>
            <div class="line-dot third">
              <div class="line-left"></div>
            </div>
            <div class="line-dot fourth">
              <div class="line-right"></div>
            </div>
            <div class="line-dot fifth">
              <div class="line-left"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="work-card-deck">
          <div class="work-card right">
            <div class="work-card-header">
              <h2>DESKTOP SUPPORT AGENT</h2>
            </div>
            <div class="work-card-body">
              <h3>Double Negative</h3>
              <h4>VANCOUVER, BC (Aug 2016 - Mar 2017)</h4>
              <div class="work-description">
                <ul>
                  <li>Workstation Support for over 450 staff in-house</li>
                  <li>Render Wrangling for hundreds of jobs over 4 offices</li>
                  <li>Image quality control for monitors and theater projectors</li>
                  <li>Networking/sysadmin support</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="work-card right">
            <div class="work-card-header">
              <h2>SOUND EDITOR/ ENGINEER</h2>
            </div>
            <div class="work-card-body">
              <h3>Digital Sound Magic</h3>
              <h4>VANCOUVER, BC (June 2016 - Mar 2018)</h4>
              <div class="work-description">
                <ul>
                  <li>Edited and mixed sound effects for voice-over demo reels</li>
                  <li>Recorded and edited dialogue</li>
                  <li>Edited and arranged music</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
