<div class="wrapper-work">
  <div class="title-work">
    <h1>Experience</h1>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <div class="work-card-deck">
        <div class="work-card left">
          <div class="work-card-header">
            <h2>TECHNICAL SUPPORT SPECIALIST</h2>
          </div>
          <div class="work-card-body">
            <h3>Vancouver Film School</h3>
            <h4>VANCOUVER, BC (Mar 2017 - Mar 2018)</h4>
            <div class="work-description">
              <p>Workstation Support for over 1000+ staff and students at the #2 ranked animation school in the world
                Troubleshooting for 6 theaters and over 20 studios
                Customized Image building and deployment for 10 depts.
                Event set up and support</p>
            </div>
          </div>
        </div>
        <div class="work-card left">
          <div class="work-card-header">
            <h2>OFFICE MANAGER</h2>
          </div>
          <div class="work-card-body">
            <h3>Radiant Communications</h3>
            <h4>VANCOUVER, BC (Oct 2014 - Aug 2016)</h4>
            <div class="work-description">
              <p>Managed office supplies/inventory for 80+ staff
                Helped oversee office upgrades and events
                Created/maintained staff resources
                Trained staff in Vancouver and Toronto
                Script hardware and track orders for clients</p>
            </div>
          </div>
        </div>
        <div class="work-card left">
          <div class="work-card-header">
            <h2>SOUND DESIGNER</h2>
          </div>
          <div class="work-card-body">
            <h3>Inkpad Studios</h3>
            <h4>VANCOUVER, BC (Oct 2016 - Mar 2018)</h4>
            <div class="work-description">
              <p>Composed music for a variety of mobile games
                Create sound effects and assign them to actions
                Work with developers to plan app development, using perforce and Unity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="timeline">
        <div class="black-line">

        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="work-card-deck">
        <div class="work-card right">
          <div class="work-card-header">
            <h2>DESKTOP SUPPORT AGENT</h2>
          </div>
          <div class="work-card-body">
            <h3>Double Negative</h3>
            <h4>VANCOUVER, BC (Aug 2016 - Mar 2017)</h4>
            <div class="work-description">
              <p>Workstation Support for over 450 staff in-house, helping deliver films for Disney, Columbia and Paramount Pictures
                Render Wrangling for hundreds of jobs over 4 offices
                Image quality control for monitors and theater projectors
                Networking/sysadmin support</p>
            </div>
          </div>
        </div>
        <div class="work-card right">
          <div class="work-card-header">
            <h2>SOUND EDITOR/ ENGINEER</h2>
          </div>
          <div class="work-card-body">
            <h3>Digital Sound Magic</h3>
            <h4>VANCOUVER, BC (June 2016 - Mar 2018)</h4>
            <div class="work-description">
              <p>Edited and mixed sound effects for voice-over demo reels
                Recorded and edited dialogue
                Edited and arranged music</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
