.container-contact {
  height: 85vh;
  margin-top: -15vh;
}

.contact {
  display: block;
  justify-content: center;
  text-align: center;
  color: $text;
  h1 {
    color: $brand;
  }
}

.contact-title {
  margin-bottom: 10 vh;
  h1 {
    color: $brand;
  }
}

.outreach {
  padding-top: 5vh;
  padding-bottom: 5vh;
  h3 {
    color: $brand;
  }
  margin-left: 22vw;
  margin-right: 22vw;
  h4 {
    padding-top: 2vh;
    line-height: 25px;
  }
}

.btn-hldr .main-btn {
  font-size: 18px;
  text-align: center;
  background: #64a344;
  padding: 20px;
  color: white;
  text-decoration: none !important;
  margin: 1.5em 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: 400;
  border: 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background: $brand;
    color: $text;
  }
}

// SMALL DEVICES
@media (min-width:0px) and (max-width:480px) { /* mobile */
  .container-contact {
    padding-top: 60px;
    margin-top: 0;
  }
  .outreach {
    margin-left: 14vw;
    margin-right: 14vw;
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

// MEDIUM DEVICES
@media (min-width:480px) and (max-width:768px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .container-contact {
    padding-top: 75px;
    margin-top: 0;
  }
  .outreach {
    margin-left: 14vw;
    margin-right: 14vw;
  }
}

// LARGE DEVICES
@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .container-contact {
    padding-top: 90px;
  }
}
