.container-contact {
  margin-top: 45vh;
  height: 50vh;
}

.contact {
  display: block;
  justify-content: center;
  text-align: center;
  color: $text;
  margin-left: 20vh;
  margin-right: 20vh;
  h1 {
    color: $brand;
  }
}

.contact-title {
  margin-bottom: 10 vh;
  h1 {
    color: $brand;
  }
}

.outreach {
  padding-top: 5vh;
  padding-bottom: 5vh;
  h3 {
    color: $brand;
  }
  margin-left: 40vh;
  margin-right: 40vh;
  h4 {
    padding-top: 2vh;
    line-height: 25px;
  }
}

.btn-hldr .main-btn {
  font-size: 18px;
  text-align: center;
  background: #64a344;
  padding: 20px;
  color: white;
  text-decoration: none !important;
  margin: 1.5em 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: 400;
  border: 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background: $brand;
    color: $text;
  }
}
