.container-contact {
  margin-top: 45vh;
  height: 50vh;
}

.contact {
  display: block;
  justify-content: center;
  text-align: center;
  color: #A6AFAE;
  margin-left: 20vh;
  margin-right: 20vh;
  h1 {
    color: #587583;
  }
}

.contact-title {
  margin-bottom: 10 vh;
  h1 {
    color: #587583;
  }
}

.outreach {
  h3 {
    color: #587583;
  }
  margin-left: 40vh;
  margin-right: 40vh;
  h4 {
    line-height: 25px;
  }
}
