.footer {
  height: 20vh;
  min-height: 120px;
  background-color: #2a2627;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 1rem;
}

.footer-links {
  color: rgba(255,255,255,0.8);
  line-height: 70px;
  font-size: 20px;
  padding-right: 2vw;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-about {
  width: 40vw;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2vw;
  font-size: 16px;
  .footer-connect {
    a {
      color: white;
      text-decoration: none;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#footer-border {
  border-left: 2px solid $text;
}


// SMALL DEVICES
@media (min-width:0px) and (max-width:480px) { /* smartphones, iPhone, portrait 480x320 phones */
  .footer-links {
    font-size: 16px;
  }
}

// MEDIUM DEVICES
@media (min-width:480px) and (max-width:768px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .footer-links {
    font-size: 16px;
  }
}

// LARGE DEVICES
@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
}
