/* Main navbar */
.navbar {
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  height: 80px;
  line-height: 80px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
  &.scrollUp {
    transform: translateY(-80px);
  }
}

.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/* Logo */
.navbar-brand img {
  height: 50px;
  width: 52px;
  margin-top: -15px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar-link:hover {
  color: $brand;
  text-decoration: none;
}

a[ id= "profile" ]:target {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

