/* Main navbar */
.navbar {
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  height: 80px;
  line-height: 80px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
  &.scrollUp {
    transform: translateY(-80px);
  }
}

.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/* Logo */
.navbar-brand img {
  height: 50px;
  width: 52px;
  margin-top: -15px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar-link:hover {
  color: $brand;
  text-decoration: none;
}

a[ id= "profile" ]:target {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

// SMALL DEVICES
@media (min-width:0px) and (max-width:480px) { /* mobile */
  .navbar {
    height: 50px;
  }
  .navbar-brand img {
    height: 30px;
    width: 34px;
    margin-top: -5px;
  }
  .navbar-link {
    font-size: 12px;
  }
}

// MEDIUM DEVICES
@media (min-width:480px) and (max-width:768px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .navbar {
    height: 65px;
  }
  .navbar-brand img {
    height: 40px;
    width: 43px;
    margin-top: -10px;
  }
  .navbar-link {
    font-size: 18px;
  }
}

// LARGE DEVICES
@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
}
