/* Main navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.6);
  transition: all 0.3s ease;
  height: 80px;
  line-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
  &.scrollUp {
    transform: translateY(-80px);
  }
}

/* Logo */
.navbar-brand img {
  height: 50px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: white;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar-link:hover {
  color: #ffda44;
  text-decoration: none;
}

a[ id= "profile" ]:target {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

