.wrapper-work {
  text-align: center;
  padding-top: 80px;
  height: 170vh;
}

.wrapper-experience {
  height: 165vh;
  display: flex;
  justify-content: center;
  .row {
    width: 70%;
  }
}

.title-work {
  color: $brand
}


.timeline {
  display: flex;
  justify-content: center;
  height: 165vh;
}

.line {
  background-color: #2a2627;
  width: 10px;
}

.line-dot {
  height: 30px;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 50%;
  background-color: #2a2627;
}

.first {margin-top: calc(5vh + 150px);}
.second {margin-top: 5vh;}
.third {margin-top: calc(10vh + 240px);}
.fourth {margin-top: 5vh;}
.fifth {margin-top: calc(10vh + 240px);}

.line-left {
  height: 5px;
  background-color: #2a2627;
  position: relative;
  top: 15px;
  right: 5px;
  margin-left: -20vh;
  z-index: -1;
}

.line-right {
  height: 5px;
  background-color: #2a2627;
  position: relative;
  top: 15px;
  left: 5px;
  margin-right: -20vh;
  z-index: -1;
}

.work-card-deck {
  display: block;
  justify-content: center;
  align-items: center;
}

.work-card {
  border-radius: 10px;
  padding: 10px;
  background-color: $text;
  height: 350px;
  width: 300px;
  margin: 0 auto;
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
}

.work-card-header {
  weight: 100%;
  background-color: #DDDDDD;
  padding: 10px;
  border-radius: 5px;
  vertical-align: center;
  h2 {
    line-height: 20px;
  }
}

.left {
  margin-bottom: 15vh;
  margin-top: 5vh;
}
.right {
  margin-top: 15vh;
}

.work-description {
  width: 100%;
  text-align: left;
  height:100%;
  margin: 0 auto;
  margin-left: -10px;
}
