.wrapper-work {
  text-align: center;
  // height: 170vh;
}

.wrapper-experience {
  .row {
    width: 100% !important;
  }
  display: flex;
  justify-content: center;
  .row {
    width: 70%;
  }
}

.title-work {
  color: $brand;
  padding-bottom: 5vh;
}

.timeline {
  display: flex;
  justify-content: center;
  height: 100%;
}

.line {
  background-color: #2a2627;
  width: 10px;
}

.line-dot {
  height: 30px;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 50%;
  background-color: #2a2627;
}

.first {margin-top: calc(5vh + 150px);}
.second {margin-top: 5vh;}
.third {margin-top: calc(10vh + 240px);}
.fourth {margin-top: 5vh;}
.fifth {margin-top: calc(10vh + 240px);}

.line-left {
  height: 5px;
  background-color: #2a2627;
  position: relative;
  top: 15px;
  right: 5px;
  margin-left: -10vw;
  z-index: -1;
}

.line-right {
  height: 5px;
  background-color: #2a2627;
  position: relative;
  top: 15px;
  left: 5px;
  margin-right: -10vw;
  z-index: -1;
}

.work-card-deck {
  display: block;
  justify-content: center;
  align-items: center;
}

.work-card {
  border-radius: 10px;
  padding: 10px;
  background-color: $text;
  height: 350px;
  width: 300px;
  margin: 0 auto;
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
}

.left {
  margin-bottom: 15vh;
  margin-top: 5vh;
}
.right {
  margin-top: 15vh;
}

.work-card-header {
  background-color: #DDDDDD;
  padding: 10px;
  border-radius: 5px;
  vertical-align: center;
  h2 {
    line-height: 20px;
  }
}

.work-description {
  width: 100%;
  text-align: left;
  height:100%;
  margin: 0 auto;
  margin-left: -10px;
}

// SMALL DEVICES
@media (min-width:0px) and (max-width:480px) { /* mobile */
  .wrapper-work {
    padding-top: 60px;
  }
  .work-card {
    height: 300px;
    width: 260px;
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 12px;
    }
  }
  .left {
    margin-bottom: 5vh;
    margin-top: 0vh;
  }
  .right {
    margin-top: 0vh;
    margin-bottom: 5vh;
  }
  .work-card-header {
    padding: 2px;
    h2 {
      line-height: 14px;
    }
  }
  .work-description {
    font-size: 13px;
  }
}

// MEDIUM DEVICES
@media (min-width:480px) and (max-width:768px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .wrapper-work {
    padding-top: 75px;
  }
  .left {
    margin-bottom: 5vh;
    margin-top: 0vh;
  }
  .right {
    margin-top: 0vh;
    margin-bottom: 5vh;
  }
}

// LARGE DEVICES
@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .wrapper-work {
    padding-top: 90px;
  }
}
